extends ../layout.pug
include ../mixin/feedbackModal.pug

block metadata 
  link(rel="stylesheet", href="/css/formPostStyle.css")
  link(href="https://cdn.jsdelivr.net/npm/slim-select@latest/dist/slimselect.css" rel="stylesheet")
  script(src="https://cdn.jsdelivr.net/npm/slim-select@latest/dist/slimselect.min.js" defer)
  script(src="/js/formPostJS.js" type="module" defer) 


block content
  section.createPost_section
    .formPost_container
      h2= (id? "EDITANDO ALBUM DE FOTAZAS" : "CREANDO ALBUM DE FOTAZAS") 
      form#form_post
        if id
          input#postId-input(type="hidden", name="postId", value=id)      
        #title_post
          label(for="title") Titulo:
          input(type="text" name="title" placeholder="Titulo del post..." value=title required)
        #description_post
          label(for="description") Descripción:
          input(type="text" name="description" placeholder="Ingrese una breve descripción..." value=description)
        #tags_container
          label(for="selectedTags") TAGS:
          if (listTags && listTags.length > 0)
            select(name="selectedTags" id="tags" multiple required)
              each tag in listTags 
                option(value=tag selected=(selectedTags && selectedTags.includes(tag)))= tag.charAt(0).toUpperCase() + tag.slice(1)
          else
              p= "Sin Etiquetas"
        #openComments_container
          label(for="openComments") Permitir comentarios?: 
          input(type="checkbox" name="openComments" id="openComments" value="true" checked=openComments)
          
        #buttons_container
          button#cancel_btn.submit_post_btn(type="button") CANCELAR
          button#create_btn.submit_post_btn(type="submit")= (id? "GUARDAR" : "CREAR ALBUM")