extend ../layout.pug
include ../mixin/feedbackModal.pug

block metadata 
    link(rel="stylesheet", href="/css/formFileStyle.css")
    link(href="https://cdn.jsdelivr.net/npm/slim-select@latest/dist/slimselect.css" rel="stylesheet")
    script(src="https://cdn.jsdelivr.net/npm/slim-select@latest/dist/slimselect.min.js" defer)
    script(src="/js/formFileJS.js" type="module" defer)

block content
  //-if success
    +feedbackModal(
      "success",
      "¡Subida Exitosa!",
      "El archivo se ha guardado correctamente.",
      "Subir otro Archivo",
      success.uploadLink,
      "Ver mis Posts",
      "/dashboard/posts"
    )
  if error
    +feedbackModal(
      "error",
      "¡Error de archivo!",
      error,
      "Aceptar"
    )

  section
    #viem_uploadFile 
      h2= (id ? "EDITANDO ARCHIVO" : "SUBIENDO UN ARCHIVO A FOTAZA")
      form#form_uploadFile
        #upload_file
          input(type="file" name="file" id="file" accept="image/png, image/jpeg, image/jpg, video/mp4, video/webm" placeholder="¡¡Subi tu archivo a FOTAZA!!" required=!id)
          
          if path && mimetype && mimetype.startsWith('video/')
            img.image_preview.oculto#image_preview(alt="Vista previa")
            video.video_preview#video_preview(controls src=path)
          else if path
            img.image_preview#image_preview(alt="Vista previa" src=path)
            video.video_preview.oculto#video_preview(controls)
          else
            img.image_preview.oculto#image_preview(alt="Vista previa")
            video.video_preview.oculto#video_preview(controls)
        #metadata_file 
          #title_Post
            label(for="titlePost") ALBUM:
            input(type="text" name="titlePost" value=(titlePost || (Post && Post.title)) readonly)
            input#idPost_input(type="hidden" name="idPost" value=idPost)
          #title_image 
            label(for="title") Titulo:
            input(type="text" name="title" placeholder="Titulo del archivo..." required value=title)
          #description 
            label(for="description") DESCRIPCIÓN: 
            input(type="text" name="description" placeholder="Ingresa una breve descripcion..." value=description)
          #tags_container
            label(for="selectedTags") TAGS:
            if (listTags && listTags.length > 0)
              select(name="selectedTags" id="tags" multiple)
                each tag in listTags 
                  option(value=tag selected=(selectedTags && selectedTags.includes(tag)))= tag.charAt(0).toUpperCase() + tag.slice(1)
            else
                p= "Sin Etiquetas"
          #openComments_container
            label(for="openComments") Permitir comentarios?: 
            input(type="checkbox" name="openComments" id="openComments" value="true" checked=(openComments ? true : false))
          #hasCopyright_image
            label(for="hasCopyright") Aplicar Copiright?: 
            input(type="checkbox" name="hasCopyright" id="hasCopyright")
            #copyright_text.oculto
              label(for="textCopyright") Texto del Copyright: 
              input(type="text" name="textCopyright" placeholder="Texto del copyright..." value=textCopyright)
        #uploadFile_btn
          button#upload_btn(type="submit") GUARDAR
          button#cancel_btn(type="button") CANCELAR