extends ../layout.pug

block metadata
  link(rel="stylesheet", href="/css/dashboardStyle.css")
  script(src="/js/dashboardJS.js" type="module" defer)

block content
  //- --- Seccion CABECERA ---
  section#main-user
    #profile-user
      if (user)
        #photoProfile.profile-user
          img(src=(user.avatar_url || '/imagenes/avatar/default-avatar.png') alt="Foto de perfil")
        #info-user.profile-user
          h2= user.nickname || user.fullname
        #statistics.profile-user
          h4 Uploads: #{numberOfFiles}
          h4 Posts: #{numberOfPosts}
          h4 Followings: #{numberOfFollowings}
          h4 Followers: #{numberOfFollowers}
      else 
        h2 No hay usuario cargado

  //- --- SECCCION DE NAVEGACION ---
  section#main-navegation
    //- --- DIV PESTAÑAS ---
    #bottons-navegation
      button#posts-btn.nav-tab.active(type="button") POSTS
      button#colections-btn.nav-tab(type="button") COLECCIONES
      button#following-btn.nav-tab(type="button") SEGUIDOS
    //- --- DIV MURO DE TRABAJO ---
    #wall-navegation