extends ../layout.pug

block metadata
  link(rel="stylesheet", href="/css/dashboardStyle.css")

block content
  //- --- Seccion CABECERA ---
  section#main-user
    #profile-user
      if (user)
        #photoProfile.profile-user
          img(src=(user.avatar_url || '/imagenes/avatar/default-avatar.png') alt="Foto de perfil")
        #info-user.profile-user
          h2= user.nickname || user.fullname
        #statistics.profile-user
          h4 Uploads: #{numberOfFiles}
          h4 Posts: #{numberOfPosts}
          h4 Followings: #{numberOfFollowings}
          h4 Followers: #{numberOfFollowers}
      else 
        h2 No hay usuario cargado

    //- Accesos a las vistas
    .views-navigation-container
      h3 Explora tu contenido
      .nav-cards
        a.nav-card(href="/dashboard/posts")
          h4 Mis Posts
          p Administra y visualiza todas tus fotografías subidas.
        
        a.nav-card(href="/dashboard/collections")
          h4 Colecciones
          p Organiza tus fotos favoritas en diferentes álbumes.
          
        a.nav-card(href="/dashboard/following")
          h4 Seguidos
          p Mira la actividad y las fotos de las personas que sigues.